.universityheading{
    color: #183b56;
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    padding: 3rem 10% 1rem;
}

.paraofheading{
    color: #5a7184;
    margin: 1rem 0px;
    font-size: 18px;
    margin: 0px 10%;
}

p{
    margin: 1rem 10%;
    text-align: justify;
}